@import '~bootstrap/scss/bootstrap';

$grey-1: rgba(186, 186, 194, .9);
$grey-2: #494d53;
$charcoal: #36454f;
$black: #000;
$purple-gradient-1: linear-gradient($grey-1, #9f71ab, #654e74);
$purple-gradient-2: linear-gradient($grey-1, #9f71ab);
$standard-radius: 50px;
$input-radius: 5px;
$main-text: #fff;
$thin-border: solid 1px;
$clear: rgba(186, 186, 194, .1);

* {
  color: $black;
}
body {
  background: $purple-gradient-1;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

h1 {
  border: $thin-border;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  width: 50%;
  padding: 1em 0px;
}

#message {
  margin-top: 20px;
  text-align: center;
}

.form-design {
  margin: 20px 0;
  margin: auto;
  padding: 2em;
  text-align: center;
  max-width: 500px;

  input {
    border: 0;
    border-radius: $input-radius;
    margin: 0;
    margin: 5px;
    padding: 1em;
    width: inherit;
  }
  .button-style-1 {
    background: $clear;
    border: $thin-border;
    color: $black;
    cursor: pointer;
    float: right;

    input[type=text] {
      color: $black;
    }
    :hover {
      background: $black;
      color: #fff;
    }
    :focus {
      background: $grey-1;
    }
  }
}

.link-style {
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin-top: 20px;
  :hover {
    color: $grey-1;
  }
}

/*AUTH*/
.sign-out {
  display: none;
}
#change-pw-btn {
  display: none;
}
#sign-up {
  display: none;
}
#change-password {
  display: none;
}
/*Menu Options*/
#create-cta {
  display: none;
}
.view-switch-option {
  display: none;
}
/*TREE*/
.tree {
  border: solid red 5px;
  display: none;
  height: 100px;
}
/*FAMILY DISPLAY*/
#family-section {
  display: none;
}
#add-family-member {
  display: none;
}
