@import '~bootstrap/scss/bootstrap';

$grey-1: rgba(186, 186, 194, .8);
$purple-gradient: linear-gradient($grey-1, #9f71ab);

body {
  background: $purple-gradient;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

/*AUTH*/
.sign-out {
  display: none;
}
#change-pw-btn {
  display: none;
}
#sign-up {
  display: none;
}
#change-password {
  display: none;
}
/*Menu Options*/
#create-cta {
  display: none;
}
.view-switch-option {
  display: none;
}
/*TREE*/
.tree {
  border: solid red 5px;
  display: none;
  height: 100px;
}
/*FAMILY DISPLAY*/
#family-section {
  display: none;
}
#add-family-member {
  display: none;
}
