@import '~bootstrap/scss/bootstrap';

$grey-1: rgba(186, 186, 194, .9);
$grey-2: #494d53;
$charcoal: #36454f;
$black: #000;
$white: #fff;
$purple-1: #654e74;
$purple-2: #9f71ab;
$purple-gradient-1: linear-gradient($grey-1, #9f71ab, #654e74);
$purple-gradient-2: linear-gradient($grey-1, #654e74);
$square-blur: #094871;
$standard-radius: 50px;
$input-radius: 5px;
$main-text: #fff;
$thin-border: solid 1px;
$clear: rgba(186, 186, 194, .1);

* {
  color: $black;
}
html {
  background: $purple-1;
}
li {
  list-style-type: none;
}
body {
  background: $purple-gradient-1;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  padding-top: 40px;
}
#family-section {

}
#show-list {
  background: $purple-2;
  box-shadow: 5px 7px 20px $charcoal;
  -webkit-box-shadow: 5px 7px 20px $charcoal;
  -moz-box-shadow: 5px 7px 20px $square-blur;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#update-family-member , #delete-family-member {
  display: none;
}
#update, #delete {
  background: $clear;
  border: $thin-border;
  color: $black;
  cursor: pointer;
  float: right;
}

h1 {
  border: $thin-border;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  width: 50%;
  padding: 1em 0px;
}

#message {
  margin-top: 20px;
  text-align: center;
}

.form-design {
  margin: 20px 0;
  margin: auto;
  padding: 2em;
  text-align: center;
  max-width: 500px;

  input {
    border: 0;
    border-radius: $input-radius;
    margin: 0;
    margin: 5px;
    padding: 1em;
    width: inherit;
  }

    input[type=text] {
      color: $black;
      background: $grey-1;
    }

    :focus {
      background: $white;
    }
}
.button-style-1 {
  background: $clear;
  border: $thin-border;
  color: $black;
  cursor: pointer;
  float: right;
}
.button-style-1:hover {
  background: $black;
  color: $white;
}
input[type="submit"] {
  background: $clear;
  border: $thin-border;
  color: $black;
  cursor: pointer;
  float: right;
}

.link-style {
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin-top: 20px;
  :hover {
    color: $grey-1;
  }
}

/*AUTH*/
.sign-out {
  display: none;
}
.float-none {
  float: none;
}
#change-pw-btn {
  display: none;
}
#sign-up {
  display: none;
}
#change-password {
  display: none;
}
/*Menu Options*/
#create-cta {
  display: none;
}
.view-switch-option {
  display: none;
}
/*TREE*/
.tree {
  border: solid red 5px;
  display: none;
  height: 100px;
}
/*FAMILY DISPLAY*/
#family-section {
  display: none;
  color: $black;
  cursor: pointer;
  float: right;
  margin: auto;
}
#add-family-member {
  display: none;
  background: $clear;
  border: $thin-border;
  color: $black;
  cursor: pointer;
  float: right;
}
